<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <link rel="stylesheet" type="text/css" href="../../static/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    
    </head>
    
    <body class="container">
        <div>    
            
            <div class="row">
                <nav th:fragment="navigation">
                    <ul class="sticky main-nav">
                        <li class="post-nav-btn"><a href="/home">Posts</a></li>
                        <li class="list-nav-btn"><a href="/list">List</a></li>
                        <li class="train-nav-btn"><a href="/train">Train</a></li>
                        <li class="btn-login"><a href="/login">Login</a></li>
                        <li class="btn-register"><a href="/register" class="register-text">Register</a></li>
                    </ul>
                </nav>

                
            </div>  
        </div>
        
        
        
        <section class="sec-type1">
            
            <h2 class="sec-title">How to Use</h2>
            
            <p class="long-copy">Here are 3 examples of PAO sets:<br>
            1= Albert Einstein--Writing on--Blackboard<br>2= Arnold Schwarzenegger--Pumping--Iron<br>3= David Beckham--Kicking-Soccer Ball
            <br><br><strong><h3 id="how-h3">Try remember the story or the number</h3></strong><br><br></p>
            <p class="long-copy" id="howto-example">
                <strong>The Story: </strong>Albert Einstein pumping a soccer ball. Now Arnold Schwarzenegger kicking a blackboard. Finally David Beckham writing passionately on an iron dumbbell. <br><br><strong>The number: </strong>123231312.
                <br><br> Which one was easier to remember? Probably the story because you can visualize each image clearly in your mind's eye. By associating each image with a number you can turn the abstract numbers into colorful stories.
            </p>
            
        </section> 
        <section>
            <td>
                <tr>
                </tr>
            </td>
        </section>
        
    </body>
</html>