<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <link rel="stylesheet" type="text/css" href="../../static/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    
    </head>
    
    <body class="container">
        <header>
            <div class="hero-text-box title">
                <h1 >Person-Action-Object</h1>
                <h2>Your memory's secret weapon</h2>
            </div>
            
            
            <div class="row">
                <nav th:fragment="navigation">
                    <ul class="sticky main-nav">
                        <li><a href="/home">Posts</a></li>
                        <li><a href="/list">List</a></li>
                        <li><a href="/train">Train</a></li>
                        <li class="btn-login"><a href="/login">Login</a></li>
                        <li class="btn-register"><a href="/register">Register</a></li>
                    </ul>
                </nav>

                
            </div>  
        </header>
        
        <section class="pao-description">
            <h2>What is PAO?</h2>
        
        </section>
        
        
        
        <section class="pao-uses">
            <h2>asdfl;kjadf</h2>
        </section>
        
    </body>
</html>