<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <link rel="stylesheet" type="text/css" href="../../static/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    
    </head>
    
    <body class="container">
        <header>
            <div class="hero-text-box">
                <h1 class="title">PAO Pal</h1>
            </div>
            
            
            <div class="row">
                <nav th:fragment="navigation">
                    <ul class="main-nav">
                        <li><a href="/home">Posts</a></li>
                        <li><a href="/list">List</a></li>
                        <li><a href="/train">Train</a></li>
                    </ul>
                </nav>
                <nav th:fragment="navigation">
                    <ul class="main-nav">
                        <li class="btn btn-full"><a href="/login">Login</a></li>
                        <li class="btn btn-full"><a href="/register">Register</a></li>
                    </ul>
                </nav>
                
            </div>  
        </header>

        <form method="post" style="max-width:600px;" th:object="${category}">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>
            </div>

            <input type="submit" value="Add Category" />
        </form>

    </body>
</html>