<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">
        <link rel="stylesheet" type="text/css" href="../../static/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    
    </head>
    
    <body class="container">
        <header>
            <div class="hero-text-box title">
                <h1 >Person-Action-Object</h1>
                <h2>Your memory's secret weapon</h2>
            </div>
            
            
            <div class="row">
                <nav th:fragment="navigation">
                    <ul class="sticky main-nav">
                        <li class="post-nav-btn"><a href="/home">Posts</a></li>
                        <li class="list-nav-btn"><a href="/list">List</a></li>
                        <li class="train-nav-btn"><a href="/train">Train</a></li>
                        <li class="btn-login"><a href="/login">Login</a></li>
                        <li class="btn-register"><a href="/register" class="register-text">Register</a></li>
                    </ul>
                </nav>

                
            </div>  
        </header>
        
        <section class="pao-description">
            <h2>What is PAO?</h2>
            
            
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum efficitur quam, in dapibus tellus cursus at. In hac habitasse platea dictumst. Fusce laoreet accumsan tellus fringilla consectetur. Nam ut massa ultricies quam tincidunt iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse eu nulla lectus. Vestibulum ipsum dolor, fringilla at hendrerit et, vestibulum eget erat. Suspendisse scelerisque mauris augue, at efficitur ipsum vestibulum et. Nam sed sodales nunc, cursus convallis risus. Integer viverra sem sit amet neque semper, a aliquet lorem finibus. Fusce in porttitor leo. Donec et fringilla orci, a eleifend lorem. Curabitur efficitur auctor diam id mollis. Vivamus tincidunt feugiat ligula et sagittis. Ut vestibulum sapien et sodales iaculis. Sed vel mauris erat.
            </p>
        </section>
        
        
        
        <section class="pao-uses">
            
            <h2>asdfl;kjadf</h2>
            
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum efficitur quam, in dapibus tellus cursus at. In hac habitasse platea dictumst. Fusce laoreet accumsan tellus fringilla consectetur. Nam ut massa ultricies quam tincidunt iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse eu nulla lectus. Vestibulum ipsum dolor, fringilla at hendrerit et, vestibulum eget erat. Suspendisse scelerisque mauris augue, at efficitur ipsum vestibulum et. Nam sed sodales nunc, cursus convallis risus. Integer viverra sem sit amet neque semper, a aliquet lorem finibus. Fusce in porttitor leo. Donec et fringilla orci, a eleifend lorem. Curabitur efficitur auctor diam id mollis. Vivamus tincidunt feugiat ligula et sagittis. Ut vestibulum sapien et sodales iaculis. Sed vel mauris erat.
            </p>
            
        </section>
        
    </body>
</html>